/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000)
	   [NazwaMleka]
      ,[IloscKartonow]
      ,[CenaZaKartonBrutto]
      ,[WspolrzedneMagazynu]
  FROM [INPG].[dbo].[People]